@mixin review_props {
    border-radius: 16px;
    height: 400px;
    max-height: 400px;
    padding: 32px;
}

.product {
    &__details {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 110px;
    }

    &__images {
        display: flex;
        align-items: start;
        gap: 16px;
        flex: 1;

        &-small {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
    }

    &__informations {
        flex: 1;
        background-color: #FAFAFA;
        border-radius: 8px;
        padding: 20px 30px;
    }

    &__color-picker {}

    &__size-picker {
        p {
            position: relative;
            padding-inline: 10px;

            &:first-child {
                padding-left: 0;

                &::after {
                    position: absolute;
                    content: "";
                    height: 15px;
                    right: 0;
                    width: 1px;
                    background-color: #E8E8E8;
                }
            }
        }
    }

    &__reviews {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        width: 100%;
    }

    &__reviewed {
        @include review_props;
        background-color: #FAFAFA;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__review-action {
        @include review_props;
        background-color: #5E59FF;
    }

    &__stars {
        display: flex;
        align-items: center;
        gap: 3px;
    }

    &__shipping-returns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
    }

    &__counter {
        width: 90px;
        padding: 13px;
        border: 1px solid #E8E8E8;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            width: 100%;
            border: none;
            outline: none;
            text-align: center;
        }

        p {
            user-select: none;
            font-size: 18px;

            &.disable {
                color: lightgray;
                cursor: not-allowed;
            }
        }
    }
}

.picker {
    &__colors {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-left: -6px;
    }

    &__color {
        border-radius: 5px;
        width: 32px;
        height: 32px;
        position: relative;

        &-wrapper {
            padding: 4px;
            border-radius: 5px;

            &.active {
                border: 1px solid #5E59FF;
            }
        }

        &.disabled {
            cursor: not-allowed;

            &::after {
                content: "";
                position: absolute;
                width: 2px;
                height: 100%;
                background-color: #000;
                top: 0;
                right: 50%;
                transform: rotate(45deg);
            }

            &::before {
                content: "";
                position: absolute;
                width: 2px;
                height: 100%;
                background-color: #000;
                top: 0;
                right: 50%;
                transform: rotate(-45deg);
            }
        }
    }

    &__sizes {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    &__size {
        padding: 7px 10px;
        border: 1px solid #D1D1D1;
        border-radius: 5px;
        user-select: none;

        &.disabled {
            color: #D1D1D1;
            cursor: not-allowed;
        }
    }
}