.header {

    &__event-notice {
        background-color: var(--primary);
        text-align: center;
        width: 100%;
        padding: 6px 0;
        color: #fff;
    }

    &__navigation {
        background-color: #000;
        color: #fff;

        &-inner {
            max-width: var(--container);
            width: var(--container);
            margin: auto;
            display: flex;
            align-items: center;
            padding: 16px 0;
        }

        &-logo {
            width: 57px;
            height: 50px;
        }

        ul {
            margin: 0 40px;
            padding: 0 20px;
            position: relative;

            &::before {
                content: "";
                position: relative;
                height: 20px;
                width: 1px;
                background-color: #fff;
            }
        }

        ul li {
            list-style: none;
            display: inline-flex;
            gap: 10px;
            cursor: pointer;
        }
    }

    &__search {
        input {
            width: 170px;

            &::placeholder {
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 1px;
            }
        }
    }
}